<%- include ('partials/header.ejs') %>
<div class="container text-center" style="height: 85%">
    <div class="container" style="
    position: absolute;
    top: 41%;
    left: 0%;
    right: 0%;
">
        <h1>Dive Into Nature</h1>

        <p>Explore Here</p>
    
        <a class="btn btn-primary" id="landingpagebutton" href="/places">view all places</a>
    </div>
    
</div>
    

<%- include ('partials/footer.ejs') %>
 