
html{
height:100%

}

body{
/* background-image:linear-gradient(141deg, #2d302f 0%, #ef5f5f 51%, #27a2d0 75%); */
background-color: white;
background-attachment: fixed;
letter-spacing: 0.2em;
height:100%;
font-size:20px;
min-width: 300px;


}
a{
    color: #00baa9;
    letter-spacing: 0.1em;
}
h1, .h1 {
    font-size: 59px;
    font-size: 59px;
    color: #00baa9;;
    font-variant: unicase;;
}
#navbarid{
    background: rgb(34,83,195);
    background: linear-gradient(157deg, rgb(236, 236, 236)20%, rgb(0, 0, 0) 51%);
border: 0;
border-color:none;
color: white;


}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #eee;
    letter-spacing: 0.2em;
    font-size: initial;
    font-variant: petite-caps;
    font-weight: 100;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#fff;
}
.navbar-default .navbar-brand {
    color:black;
    font-size: x-large;
    font-variant: small-caps;
    font-weight: 500;


}
 .navbar-default .navbar-brand:hover{
    color:black;
}
#landingpagebutton{
    color: #fff;
    background-color: #161717;
    border: 0;
    border-color: #ffffff;
}
#landingpagebutton:hover{
    color: #fff0f0;
    background-color: #6a8484;
    border-color: #ffffff;
}
#delete-form{
    display:inline;
}

/* INDEX PAGE CSS  /PLACES */

#thumbnailindexpageimages{
    background-color: inherit;
    position: relative;
    width: 100%;
    /* min-height: 20%; */
    height: auto;
    padding: 0;
    border-radius: 3%;
    border: none;
    /* border: 15px solid yellow; */

}
    
#imagetitle{
    font-weight: 700;

    color: #108277;;
    font-size: 20px;
    letter-spacing: 0.4em;
    display: block;
    width: 100%;
    margin: 0;
    position: absolute;
    font-size: 85%;
    top: 50%;
    transition: .5s ease-in;
}

#imageindexpage{
                max-width: 100%;max-height:100%;
                border-radius: 14px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                opacity: 1;
    position: relative;
    transition: .5s ease-out;
   
}

#captionindex{
 z-index: 0;
 height: 133px;
 top: 0;
 max-width: 100%;
 padding: 0;
 opacity: 0;
 position: absolute;
 
 height: 100%;
 
 text-align: center;
 background-color: inherit;
 border-radius: 14px;
 width: 100%;
 background-color: inherit;
}

#thumbnailindexpageimages:hover #imageindexpage{
    opacity: 0.4;


}
#thumbnailindexpageimages:hover #captionindex{
    opacity: 1;


}

#btnmoreinfo{
    padding: 16px;
    text-align: end;
    width: auto;
    letter-spacing: 0.2em;
    bottom: 0;
    border-radius: 20px;
    font-weight: 600;
    right: 0;
    position: absolute;
    background-color: #d9534f;
    border-color: #d43f3a;
}


/* in head */

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 15px;
    letter-spacing: 0;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 15px;
    letter-spacing: 0;
}

/* PARTICULAR POST /PLACES/:ID */

.img-thumbnail, #commentsaddorview{
    text-align: justify;
    letter-spacing: 0.1em;
    font-size: 68%;
    width: 100%;
}

hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: none;
}
.btn-warning {
    color: #fff;
    background-color: #14b644;
    border-color: #0f691b;
}

#editplaceshowpage, #deleteplaceshowpage{
    border-radius: 72px;
    padding: 11px;
}

.btn-warning:hover{
    background-color: #07cc42;
    border-color: #545921;
}
