<!DOCTYPE html>
<html>
  <head>
    <title>
      TravelPlaces
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-default" style="opacity: 0.7;
background-color: #009688;
">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"style="
            color: white; font-weight: 500; ">Destinations</a>
        </div>
            <ul class="nav navbar-nav navbar-right"style="flex-direction:row">
            <%   if(!curUser){ %>
                <li style="margin-right: 10px;"><a href="/login" style="
                    color: white; font-weight: 500; ">Login</a></li>
                <li style="margin-right: 10px;"><a href="/register"style="
                    color: white; font-weight: 500; ">Sign Up</a></li>
                
                <%  } else { %>
                    <li style="margin-right: 10px;
                    color: white; font-weight: 500; "><%=curUser.username.toUpperCase()%></li>
                <li style="margin-right: 10px;"><a href="/logout"style="
                    color: white; font-weight: 500; ">Logout</a></li>
            
            <%   } %>
                </ul>
    </div>
</nav>
